#Dataset Description

\

## The dataset contains information about road traffic accidents with the following columns:

`Time`: Time of the accident

`Day_of_week`: Day of the week when the accident occurred

`Age_band_of_driver`: Age group of the driver

`Sex_of_driver`: Gender of the driver

`Educational_level`: Educational level of the driver

`Vehicle_driver_relation`: Relationship of the driver to the vehicle

`Driving_experience`: Driving experience of the driver

`Type_of_vehicle`: Type of vehicle involved in the accident

`Owner_of_vehicle`: Owner of the vehicle

`Service_year_of_vehicle`: Service years of the vehicle

`Area_accident_occured`: Area where the accident occurred

`Lanes_or_Medians`: Lanes or medians at the accident site

`Road_allignment`: Road alignment at the accident site

`Types_of_Junction`: Type of junction at the accident site

`Road_surface_type`: Type of road surface at the accident site

`Road_surface_conditions`: Road surface conditions at the accident site

`Light_conditions`: Light conditions at the time of the accident

`Weather_conditions`: Weather conditions at the time of the accident

`Type_of_collision`: Type of collision

`Number_of_vehicles_involved`: Number of vehicles involved in the accident

`Number_of_casualties`: Number of casualties in the accident

`Vehicle_movement`: Movement of the vehicle during the accident

`Casualty_class`: Class of casualty (driver, passenger, pedestrian)

`Sex_of_casualty`: Gender of the casualty

`Age_band_of_casualty`: Age group of the casualty

`Casualty_severity`: Severity of the casualty

`Work_of_casuality`: Occupation of the casualty

`Fitness_of_casuality`: Fitness of the casualty

`Pedestrian_movement`: Movement of the pedestrian

`Cause_of_accident`: Cause of the accident

`Accident_severity`: Severity of the accident

# Tasks

##1. Data Cleaning

### Read the dataset

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("/Users/a./Desktop/Course T5/Task (1) Dataset.csv")

### Handle Missing Values

In [30]:
df.isnull().sum()

Time                              0
Day_of_week                       0
Age_band_of_driver                0
Sex_of_driver                     0
Educational_level               741
Vehicle_driver_relation         579
Driving_experience              829
Type_of_vehicle                 950
Owner_of_vehicle                482
Service_year_of_vehicle        3928
Defect_of_vehicle              4427
Area_accident_occured           239
Lanes_or_Medians                385
Road_allignment                 142
Types_of_Junction               887
Road_surface_type               172
Road_surface_conditions           0
Light_conditions                  0
Weather_conditions                0
Type_of_collision               155
Number_of_vehicles_involved       0
Number_of_casualties              0
Vehicle_movement                308
Casualty_class                    0
Sex_of_casualty                   0
Age_band_of_casualty              0
Casualty_severity                 0
Work_of_casuality              3198
Fitness_of_casuality           2635
Pedestrian_movement               0
Cause_of_accident                 0
Accident_severity                 0
dtype: int64

In [31]:
df=df.drop(columns=['Educational_level','Vehicle_driver_relation','Driving_experience','Owner_of_vehicle','Service_year_of_vehicle','Defect_of_vehicle','Area_accident_occured','Lanes_or_Medians','Road_allignment','Types_of_Junction','Type_of_collision','Vehicle_movement','Work_of_casuality','Fitness_of_casuality'])

In [44]:
rype_mean =df["Type_of_vehicle"].mode()

0    Automobile
Name: Type_of_vehicle, dtype: object

In [36]:
df.isnull().sum()

Time                             0
Day_of_week                      0
Age_band_of_driver               0
Sex_of_driver                    0
Type_of_vehicle                950
Road_surface_type              172
Road_surface_conditions          0
Light_conditions                 0
Weather_conditions               0
Number_of_vehicles_involved      0
Number_of_casualties             0
Casualty_class                   0
Sex_of_casualty                  0
Age_band_of_casualty             0
Casualty_severity                0
Pedestrian_movement              0
Cause_of_accident                0
Accident_severity                0
dtype: int64

### Correct any inconsistent data entries.

In [27]:
df.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Type_of_vehicle,Road_surface_type,Road_surface_conditions,Light_conditions,Weather_conditions,Number_of_vehicles_involved,Number_of_casualties,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Automobile,Asphalt roads,Dry,Daylight,Normal,2,2,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Public (> 45 seats),Asphalt roads,Dry,Daylight,Normal,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Lorry (41?100Q),Asphalt roads,Dry,Daylight,Normal,2,2,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Public (> 45 seats),Earth roads,Dry,Darkness - lights lit,Normal,2,2,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,NaN,Asphalt roads,Dry,Darkness - lights lit,Normal,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury

In [34]:
df.drop('Day_of_week', axis =1)
df.drop('Sex_of_driver', axis =1)
df.drop('Road_surface_type', axis =1)
df.drop('Road_surface_conditions', axis =1)
df.drop('Light_conditions', axis =1)
df.drop('Pedestrian_movement', axis =1)
df.drop('Accident_severity', axis =1)
df.drop('Cause_of_accident', axis =1)
df.drop('Casualty_severity', axis =1)
df.drop('Age_band_of_casualty', axis =1)
df.drop('Sex_of_casualty', axis =1)
df.drop('Casualty_class', axis =1)
df.drop('Weather_conditions', axis =1)

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Type_of_vehicle,Road_surface_type,Road_surface_conditions,Light_conditions,Number_of_vehicles_involved,Number_of_casualties,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Automobile,Asphalt roads,Dry,Daylight,2,2,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Public (> 45 seats),Asphalt roads,Dry,Daylight,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Lorry (41?100Q),Asphalt roads,Dry,Daylight,2,2,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Public (> 45 seats),Earth roads,Dry,Darkness - lights lit,2,2,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,NaN,Asphalt roads,Dry,Darkness - lights lit,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12311,16:15:00,Wednesday,31-50,Male,Lorry (11?40Q),Asphalt roads,Dry,Daylight,2,1,na,na,na,na,Not a Pedestrian,No distancing,Slight Injury
12312,18:00:00,Sunday,Unknown,Male,Automobile,Asphalt roads,Dry,Daylight,2,1,na,na,na,na,Not a Pedestrian,No distancing,Slight Injury
12313,13:55:00,Sunday,Over 51,Male,Bajaj,Asphalt roads,Dry,Daylight,1,1,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the right,Serious Injury
12314,13:55:00,Sunday,18-30,Female,Lorry (41?100Q),Asphalt roads,Dry,Darkness - lights lit,2,1,na,na,na,na,Not a Pedestrian,Driving under the influence of drugs,Slight Injury
12315,13:55:00,Sunday,18-30,Male,Other,Asphalt roads,Dry,Darkness - lights lit,2,1,Pedestrian,Female,5,3,Crossing from nearside - masked by parked or s...,Changing lane to the right,Slight Injury

In [35]:
df.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Type_of_vehicle,Road_surface_type,Road_surface_conditions,Light_conditions,Weather_conditions,Number_of_vehicles_involved,Number_of_casualties,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Automobile,Asphalt roads,Dry,Daylight,Normal,2,2,na,na,na,na,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Public (> 45 seats),Asphalt roads,Dry,Daylight,Normal,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Lorry (41?100Q),Asphalt roads,Dry,Daylight,Normal,2,2,Driver or rider,Male,31-50,3,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Public (> 45 seats),Earth roads,Dry,Darkness - lights lit,Normal,2,2,Pedestrian,Female,18-30,3,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,NaN,Asphalt roads,Dry,Darkness - lights lit,Normal,2,2,na,na,na,na,Not a Pedestrian,Overtaking,Slight Injury

### Ensure data types are appropriate for each column.

---

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         12316 non-null  object
 1   Day_of_week                  12316 non-null  object
 2   Age_band_of_driver           12316 non-null  object
 3   Sex_of_driver                12316 non-null  object
 4   Type_of_vehicle              11366 non-null  object
 5   Road_surface_type            12144 non-null  object
 6   Road_surface_conditions      12316 non-null  object
 7   Light_conditions             12316 non-null  object
 8   Weather_conditions           12316 non-null  object
 9   Number_of_vehicles_involved  12316 non-null  int64
 10  Number_of_casualties         12316 non-null  int64
 11  Casualty_class               12316 non-null  object
 12  Sex_of_casualty              12316 non-null  object
 13  Age_band_of_casualty         12316 non-null  object
 14  Casualty_severity            12316 non-null  object
 15  Pedestrian_movement          12316 non-null  object
 16  Cause_of_accident            12316 non-null  object
 17  Accident_severity            12316 non-null  object
dtypes: int64(2), object(16)
memory usage: 1.7+ MB

## 2. Exploratory Data Analysis (EDA)

### Perform summary statistics on the dataset.

In [38]:
df.describe()

       Number_of_vehicles_involved  Number_of_casualties
count                 12316.000000          12316.000000
mean                      2.040679              1.548149
std                       0.688790              1.007179
min                       1.000000              1.000000
25%                       2.000000              1.000000
50%                       2.000000              1.000000
75%                       2.000000              2.000000
max                       7.000000              8.000000

### Identify and analyze patterns in the data.

In [45]:
df.describe()

       Number_of_vehicles_involved  Number_of_casualties
count                 12316.000000          12316.000000
mean                      2.040679              1.548149
std                       0.688790              1.007179
min                       1.000000              1.000000
25%                       2.000000              1.000000
50%                       2.000000              1.000000
75%                       2.000000              2.000000
max                       7.000000              8.000000

### Visualize the distribution of key variables (e.g., Age_band_of_driver, Type_of_vehicle).

In [43]:
import matplotlib as plt
df.plot.hexbin(x='rype_mean', y='Age_band_of_driver', gridsize=15)

KeyError: 'rype_mean'

### Explore relationships between variables (e.g., Age_band_of_driver vs. Accident_severity).

## 3. Data Visualization

* Ensure the visualizations are clear and informative.

### Create visualizations to illustrate the findings from the EDA.

### Use appropriate plots such as histograms, bar charts, pie charts, scatter plots, and heatmaps.

## 4. Insights and Conclusions

* <h3>Summarize the key insights gained from the data analysis.<h3/>
* <h3>Draw conclusions based on the patterns observed in the data.<h3/>